.contactTitle{
    margin-left: -50px;
}

.wrapperContact {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.wrapperContactSubtitle {
  margin: 30px auto 30px auto;
}

#wrapperContactTextenter{
  text-align: left;
  margin-bottom: 40px;
  padding-right: 20px;
}
.wrapperContactAccident {
  margin-top: 80px;
}
.wrapperContactAddress {
  align-self: left;
}

.wrapperContactAddressItem {
  display: block;
  margin-bottom: 20px;
}
.wrapperContactMap {
  width: 100%;
}
