#wrapperBreakeLine {
  display: grid;
  margin: 40px 0 50px 0;
  height: 80px;
}

#wrapperItemLeft {
  grid-column-start: 1;
  grid-column-end: 6;
  margin: 5px 0;
}


#wrapperItemCentral {
  grid-column-start: 6;
  grid-column-end: 9;
}

#wrapperItemRight {
  grid-column-start: 9;
  grid-column-end: 15;
  margin: 5px 0;
}

#wrapperText {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  color: #5b5b5b;
  letter-spacing: 0.2rem;
}
