.wrapperFooter {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 1250px;
  margin: 80px auto 0 auto; 
 background: rgb(0,0,0);
background: linear-gradient(20deg, rgba(0,0,0,1) 0%, rgba(238,238,238,0.9808333333333333) 35%, rgba(252,254,255,1) 100%); 
}

.wrapperWidget {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 30% 40% 30%;
}

.widgetLeft {
  display: flex;
  align-items: center;
}

.footerPhoto {
  display: block;
  margin: 0 auto;
  width: 70%;
}

.widgetCenter {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  margin: 1rem 0;
}

.widgetRight {
  display: grid;
  grid-template-rows: repeat(3 1fr);
  grid-template-columns: 1fr;
  margin: 1rem 0;
  align-self: start;
}

.copyright {
  display: block;
  width: 100%;
  margin: 0 auto;
  
}

.copyrightTitle {
  text-align: center;
  margin-top: 1.5rem;
}

.copyrightSubtitle {
  text-align: center;
}

.widgetBottom {
  height: auto;
 
}

.widgetBottomText {
  text-align: right;
  text-transform: uppercase;
  font-size: .9rem;
  padding-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.widgetTitle {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 1.5rem 0;
  height: 3rem;
}


.widgetIcon {
  margin: 0.2rem 0.5rem 0 0;
  padding-top: 5px;  
  color:#1680BC;
  font-size: 12px;
}

.widgetIconSpan {
  display: inline-block;
  align-items: flex-start;
  margin-bottom: .2rem;
  margin-top: -20px;
}

.widgetListItem {
  margin: .4rem 0;
}
