.wrapperFooter {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  max-width: 1250px;
  margin: 80px auto 0 auto;
  background-color: rgb(218, 218, 218);
  background: linear-gradient(
    0deg,
    rgba(218, 218, 218, 1) 0%,
    rgba(241, 241, 241, 1) 33%,
    rgba(255, 255, 255, 1) 100%
  );
}

.wrapperFooterContrast{
  background-color: #FFFF00;
}

.wrapperWidget {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 30% 40% 30%;
}

.widgetLeft {
  display: flex;
  align-items: center;
}

.footerPhoto {
  display: block;
  margin: 0 auto;
  width: 70%;
}

.widgetCenter {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  margin: 1rem 0;
}

.widgetRight {
  display: grid;
  grid-template-rows: repeat(3 1fr);
  grid-template-columns: 1fr;
  margin: 1rem 0;
  align-self: start;
}

.copyright {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.copyrightTitle {
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 0;
}

.copyrightSubtitle {
  text-align: center;
}

#widgetBottom {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  width: 100%;
}

#widgetBottomLeft {
  justify-self: start;
  margin-left: 15px;
}

#widgetBottomRight {
  justify-self: end;
  margin-right: 15px;
}

#greyText {
  color: #767676;
  font-size: small;
}

.widgetBottomText {
  text-align: right;
  text-transform: uppercase;
  font-size: 0.9rem;
  padding-right: 2rem;
  margin-bottom: 1.5rem;
}

.widgetTitle {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 1.5rem 0;
  height: 3rem;
}

.widgetIcon {
  margin: 0.2rem 0.5rem 0 0;
  padding-top: 5px;
  color: #1680bc;
  font-size: 12px;
}

.widgetIconSpan {
  display: inline-block;
  align-items: flex-start;
  margin-bottom: 0.2rem;
  margin-top: -20px;
}

.widgetListItem {
  margin: 0.4rem 0;
}

#linkFooter {
  color: black;
  text-decoration: none;
}

#linkFooter:hover {
  color: #1680bc;
}

.buttonTrue {
  background-color: #ffff00;
}

.buttonFalse {
  background-color: white;
}

@media (max-width: 960px) {
  .wrapperWidget {
    grid-template-columns: 1fr;
    row-gap: 8px;
  }
  .widgetCenter,
  .widgetRight,
  .widgetBottomText {
    text-align: center;
  }
  .widgetLeft {
    display: block;
    margin: 0 auto;
    width: 60%;
  }
}

@media (max-width: 600px) {
  .wrapperWidget {
    grid-template-columns: 1fr;
    row-gap: 8px;
  }
  .widgetCenter,
  .widgetRight,
  .widgetBottomText {
    text-align: center;
  }
  .widgetLeft {
    display: block;
    margin: 0 auto;
    width: 70%;
  }
}

@media only screen and (min-width: 900px) {
  .wrapperWidget {
    grid-template-columns: 1fr;
    row-gap: 8px;
  }
  .widgetCenter,
  .widgetRight,
  .widgetBottomText {
    text-align: center;
  }
  .widgetLeft {
    display: block;
    margin: 0 auto;
    width: 70%;
  }
  .widgetLeft {
    display: flex;
    align-items: center;
  }
}

@media only screen and (min-width: 1024px) {
  .wrapperFooter {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    max-width: 1250px;
    margin: 80px auto 0 auto;
    background: rgb(218, 218, 218);
    background: linear-gradient(
      0deg,
      rgba(218, 218, 218, 1) 0%,
      rgba(241, 241, 241, 1) 33%,
      rgba(255, 255, 255, 1) 100%
    );
  }
  .wrapperWidget {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 30% 40% 30%;
  }

  .widgetCenter,
  .widgetRight,
  .widgetBottomText {
    text-align: left;
  }
}

@media only screen and (min-width: 1200px) {
  .wrapperWidget {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 30% 40% 30%;
  }

  .widgetCenter,
  .widgetRight,
  .widgetBottomText {
    text-align: left;
  }
  .widgetLeft {
    display: flex;
    align-items: center;
  }
}
