.hero {
  display: block;
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
}

.hero-body {
  background: url('../assets/images/hero.jpg') fixed;
  background-position: center;
  height: 600px;
  
}

.title {
  text-transform: uppercase;
  color: white;
}

.wrapperHero{
  width: 99%;
  margin: 0 auto;}

.heroTextWrapper { 
  top: 40%;
  left: 8.9%;
  width: 82%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  z-index: 1;
  position: absolute;
  height: auto;
  max-width: 1250px;  
  opacity: 1;
  transition: opacity 0.5s;
  background: rgba(108, 68, 162, 0.2);
  color: white;

}