.hero {
  display: block;
  position: relative;
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
}

.hero-body {
  background: url('../assets/images/hero.jpg') fixed;
  background-position: center;
  height: 600px;
}

#title {
  text-transform: uppercase;
  font-weight: 600;
  color: white;
}

.wrapperHero {
  width: 100%; 
  margin: 30px auto;
}

.heroTextWrapper {
  top: 40%;
  left: 0;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  z-index: 1;
  position: absolute;
  height: auto;
  max-width: 1250px;
  opacity: 1;
  transition: opacity 0.5s;
  background: rgba(22, 128, 188, 0.4);
  color: white;
}
