/*Aside*/

.wrapperTariff{
  display: grid;
  margin-bottom: 10rem;
  grid-template-columns: 20% auto;
  grid-column-gap: 1rem;
  max-width: 1250px;
  margin: 0 auto;
  box-sizing: border-box;
}

thead{
  text-transform: uppercase;
}

@media (max-width: 600px) {
  .wrapperTariff {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 960px) {
  .wrapperTariff {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 1280px) {
  .wrapperTariff {
    grid-template-rows: 1fr 1fr;
  }
}




/*Main*/
.mainSection {
  display: grid;
  grid-template-columns: 1fr;
}
