/*Aside*/

.wrapperCookies {
  display: grid;
  margin-bottom: 10rem;
  grid-template-columns: 20% auto;
  grid-column-gap: 1rem;
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

#cookiesTitle {
  font-weight: 600;
}

#cookiesListNumber {
  margin-left: 25px;
}

.asideSection {
  width: 100%;
}

.asideMenu {
  margin: 0.5rem auto;
  width: 100%;
}

.menuHeader {
  width: auto;
}

/*Main*/
.mainSection {
  display: grid;
  grid-template-columns: 1fr;
}

/* @media*/
@media only screen and (max-width: 600px) {
  .wrapperCookies {
    grid-template-columns: 1fr;
    padding: 0 5px;
  }
  .mainSection {
    padding: 0 15px;
  }
}

@media only screen and (min-width: 600px) {
   .wrapperCookies {
    grid-template-columns: 1fr;
    padding: 0 5px;
  }
  .mainSection {
    padding: 0 30px 0 15px;
  }
}

@media only screen and (min-width: 900px) {
   .wrapperCookies {
    grid-template-columns: 1fr;
    padding: 0 5px;
  }
  .mainSection {
    padding: 0 30px 0 15px;
  }
}

@media only screen and (min-width: 1024px) {
.wrapperCookies {
  display: grid;
  margin-bottom: 10rem;
  grid-template-columns: 20% auto;
  grid-column-gap: 1rem;
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}
}