#wrapper {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 1250px;
  margin: 0 auto;
}

#menuVertical {
 margin: 30px 0;
}

#cardWidget {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
}
