#asideMenu {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0.5rem auto;
  width: 216px;
}

.menuHeader {
  width: auto;
}

.buttonNaviAside {
  font-size: 18px;
  color: white;
  text-decoration: none;
}

.buttonNaviAsideContrast {
  color: black;
  text-decoration: none;
  background-color: #ffff00;
} 

.buttonNaviAside:hover {
  color:black;
   text-decoration: none;
}

@media only screen and (max-width: 600px) {
  #asideMenu {
    padding: 0 15px;
  }
}
