#asideMenu {
  margin: 0.5rem auto;
  width: 100%;
}

.menuHeader {
  width: auto;
}


#buttonNaviAside{
    color: white;
    text-decoration: none;
}

#buttonNaviAside:hover {
    color: grey;
}

@media only screen and (max-width: 600px) {
#asideMenu {padding: 0 15px}
}