.asideMenu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  width: 100%;
}

#buttonNaviAside {
  color: white;
  text-decoration: none;  
}

#buttonNaviAside:hover {
  color: grey;
}


.iconMenu{
  margin: -2px 10px 0 0;   
}