#partnersWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 10px;
  width: 80%;
  margin: 0 auto;
}

@media only screen and (max-width: 600px) {
  #partnersWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
  }
}

@media only screen and (min-width: 600px) {
  #partnersWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    column-gap: 10px;
    row-gap: 10px;
  }
}

@media only screen and (min-width: 900px) {
  #partnersWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
  }
}

@media only screen and (min-width: 1024px) {
  #partnersWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
  }
}

@media only screen and (min-width: 1250px) {
  #partnersWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;    
    width: 80%;
    margin: 0 auto;
    max-width: 1250px;
  }
}

#partnersWrapperItem { 
  display: grid;
  margin-top: 40px;
  height: 100%;
  width: 100%; 
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#partnersWrapperItemPhoto {
  display: block;
  transition: 1s;
  max-height: 150px;  
  cursor: pointer;
}

#partnersWrapperItemPhoto:hover {
  border: 2px dashed#9CB53A;
  padding: 5px 5px;
}
